@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
}

/* Navigation */

.title {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.logo {
    height: 40px;
    width: 40px;
}

.db-nav {
    background-color: #00a6fb;
    min-height: 100vh;
    width: 15%;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.group .nav-item {
    position: relative;
    display: flex;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    padding: 2px;
}

.group .nav-item::before {
    content: "";
    position: absolute;
    top: 40%;
    right: 0;
    height: 3px;
    width: 5vw;
    background-color: #fff;
    opacity: 0;
}

.group1 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding: 15px 0;
}

.nav-item img {
    width: 30px;
}

.nav-item:hover::before {
    opacity: 1;
}

.nav-item:hover {
    color: #072ac8;
}

/* Header */

main {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.db-header {
    padding: 15px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.db-header .header-top {
    display: flex;
    justify-content: space-between;
}

.header-top .search {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-top .search #search-input {
    width: 800px;
    height: 35px;
    border-radius: 15px;
    border: 0;
    background-color: #d7eaf1;
    padding: 0 10px;
    font-size: 1rem;
}
.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user .profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user .bell-icon {
    width: 30px;
    cursor: pointer;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-bottom .user-display {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-display .profile-picture {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.header-bottom .user-features {
    display: flex;
    gap: 30px;
    align-items: center;
}

.user-features button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #00a6fb;
    color: #fff;
    cursor: pointer;
}

.user-features button:active {
    background-color: #fff;
    color:#00a6fb;
    border: 1px solid #00a6fb;
}

/* Main Content */

.db-content {
    display: flex;
    background-color: #dff6fd;
    padding: 30px 20px;
}

.db-content .left-content {
    width: 80%;
}

.left-content {
    padding-right: 10px;
}

.left-content h2 {
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.project-card {
    padding: 20px;
    width: 100%;
    height: 230px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-left: 8px solid rgb(223, 191, 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card .card-actions {
    align-self: flex-end;
    display: flex;
    gap: 30px;
}

.project-card .description p {
    font-size: 1.2rem;
    color: #5d5d5d;
}

.project-card img {
    cursor: pointer;
}

.db-content .right-content {
    width: 20%;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
}

.right-content .section h2 {
    margin-bottom: 20px;
}

.right-content .section .announcements {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.announcements .post {
    padding: 10px;
    border-bottom: 1px solid gray;
}

.announcements .post:last-of-type {
    border-bottom: 0;
}

.right-content .section .trending {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.trending .user-card {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.trending .user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #00a6fb;
    object-fit: cover;
}